* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #334155;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;

  display: flex;
  justify-content: center;
  padding-top: 34px;
}

.menu-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.25rem;
  font-weight: black;
  color: #334155;
}

.logo span {
  color: #5481e7;
}

.menu-nav--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.625rem;
}

.login-button {
  height: 2.75rem;
  width: 10rem;
  background-color: #5481e7;
  color: #fff;

  border-radius: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.25rem;
  font-weight: black;
}

.hero-wrapper {
  width: 100%;
  height: calc(100vh - 4.875rem);

  display: flex;
  justify-content: center;

  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-container {
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.title {
  font-size: 4rem;
  font-weight: black;
  text-align: center;
  width: 100%;
  max-width: 49.5625rem;
}
